version: '3.7'

services:
  backend:
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=usr
      - POSTGRES_PASSWORD=pwd
    image: baptistegris/devops-backend:1.0.0
    container_name: backend
    networks:
      - app-network
    depends_on:
      - database
      - httpd

  database:
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=usr
      - POSTGRES_PASSWORD=pwd
    ports:
      - "5432:5432"
    image: baptistegris/devops-database:1.0.0
    container_name: postgres
    networks:
      - app-network

  httpd:
    ports:
      - "80:80"
    image: baptistegris/devops-httpd:1.0.0
    container_name: webserver
    networks:
      - app-network

networks:
  app-network:
