name: CI devops test backend
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug
      tags:
        description: "Test scenario tags"
        required: false
        type: boolean
      environment:
        description: "Environment to run tests against"
        type: environment
        required: true

  push:
    branches: [develop, main]
jobs:
  test-backend:
    name: "Test de l'application Spring"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2.5.0
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Build and test with Maven
        working-directory: ./backend/simpleapi
        run: mvn clean verify
      - name: Quality gate with Sonar
        working-directory: ./backend/simpleapi
        run: mvn -B verify sonar:sonar -Dsonar.projectKey=tp-cpe-devops-2_tp-devops -Dsonar.organization=tp-cpe-devops-2 -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_TOKEN }}  --file ./pom.xml
